<h2> Add a Celebrity </h2>

<form method="post" action="/celebrities">

    <label for="celebrity-name-input">Celebrity Name </label>
    <input  id="celebrity-name-input" type="text" name="celebrityName">
    <br

    <label for="celebrity-occupation-input">Celebrity's Occupation</label>
    <input  id="celebrity-occupation-input" type="text" name="celebrityOccupation">
    <br

    <label for="celebrity-catchPhrase-input">Celebrity's CatchPhrase</label>
    <textarea id="celebrity-catchPhrase-input" name="celebrityCatchPhrase"></textarea>
    <br>

    <button> Save new Celebrity </button>

  </form>
